/*body as container*/
.walnut-container {
  display: grid;
  grid-template-columns: [first] 50% [line 2] 50% [end];
  grid-template-rows: [row1-start] 60px [row1-end row2-start] 420px [row2-end row3-start] 300px [row3-end];
  align-items: center;
  background-color: #fbd2d7;
  background-image: url(wallpaper.jpg);
}

/*Navigation Bar*/
.navbar {
	display: grid;
	grid-template-columns: [first] 640px [line2] 640px [end];
  	grid-column-start: 1;
  	grid-column-end: 3;
  	font-family: Century gothic;
  	color: #593221;
  	position: top;
  	align-items: center;
}
.navbar-part-1{
	grid-column-start: 1;
	grid-column-end: 2;
	display: inline-block;
	text-align: left;
	align-items: center;
	background-color: #fcb99d;
	padding-left: 20px;
}
.navbar-part-2{
	grid-column-start: 2;
	grid-column-end: 3;
	display: inline-block;
	text-align: right;
	align-items: center;
	padding: 15px;
	background-color: #fcb99d;
}
h2{
	display: inline;
	padding-right: 20px;
}
.cart{
	padding-right:0px;
}
#cart-number{
	font-weight: bolder;
	font-size: 24px;
}

/*styling for page*/
.walnut-product1{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
	align-items: center;
}
/*styling for left column*/
.description{
	text-align: center;
	padding-left: 100px;
	padding-right: 50px;
	padding-top: 0px;
	padding-bottom: 0px;*/
}

.walnut-product2{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: row2-start;
	grid-row-end: row3-end;
	align-items: center;
}
/*styling for right column*/
.order{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	text-align: left;
	padding-left: 90px;
	padding-right: 150px;
}
h3{
	display: inline-block;
	font-family: Century gothic;
	font-size: 24px;
	font-weight: bold;
  	color: #593221;
  	margin: 0px;
}
h4{
	font-family: Century gothic;
	font-size: 20px;
	color: #593221;
	margin: 0px;
}

p{
	font-family: Century gothic;
	font-size: 20px;
	color: #593221;
	margin: 0px;
}
.button{
	background-color: #fcb99d;
  	border-radius: 10px;
  	color: #593221;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	font-family: Century gothic;
  	font-weight: bold;
  	margin: 4px 2px;
  	cursor: pointer;
}

/*styling for links*/
a:link {
  color: #593221;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #593221;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #593221;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #593221;
  background-color: transparent;
  text-decoration: none;
}

.walnut-product3{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: left;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: row3-start;
	grid-row-end: row3-end;
	align-items: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.carousal{
  max-width: 250px;
  position: left;
  margin-left: 60px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Hide the images by default */
.photo {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 813px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 0px;
  position: absolute;
  bottom: 70px;
  width: 18%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 550px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
