.blueberry-container {
  display: grid;
  grid-template-columns: [first] 1fr [end];
  grid-template-rows: [row1-start] 60px [row1-end row2-start] 720px [row2-end];
  align-items: center;
  background-color: #fbd2d7;
  background-image: url(wallpaper.jpg);
}

.navbar {
	display: grid;
	grid-template-columns: [first] 640px [line2] 640px [end];
  	grid-column-start: 1;
  	grid-column-end: 2;
  	font-family: Century gothic;
  	color: #593221;
  	position: top;
  	align-items: center;
}

.navbar-part-1{
	grid-column-start: 1;
	grid-column-end: 2;
	display: inline-block;
	text-align: left;
	align-items: center;
	background-color: #fcb99d;
	padding-left: 20px;
}

.navbar-part-2{
	grid-column-start: 2;
	grid-column-end: 3;
	display: inline-block;
	text-align: right;
	align-items: center;
	padding: 15px;
	background-color: #fcb99d;
}

h2{
	display: inline;
	padding-right: 20px;
}

.blueberry-product{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: row2-start;
	grid-row-end: row2-end;
	align-items: center;
}

.description{
	text-align: center;
	padding-left: 100px;
	padding-right: 0px;
	padding-top: 48px;
	padding-bottom: 156px;
}

.order{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	text-align: left;
	padding-left: 120px;
	padding-right: 191.57px;
}

h3{
	display: inline-block;
	font-family: Century gothic;
	font-size: 24px;
	font-weight: bold;
  	color: #593221;
  	margin: 0px;
}

h4{
	font-family: Century gothic;
	font-size: 20px;
	color: #593221;
	margin: 0px;
}

p{
	font-family: Century gothic;
	font-size: 20px;
	color: #593221;
	margin: 0px;
}

.button{
	background-color: #fcb99d;
  	border-radius: 10px;
  	color: #593221;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	font-family: Century gothic;
  	font-weight: bold;
  	margin: 4px 2px;
  	cursor: pointer;
}

a:link {
  color: #593221;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #593221;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #593221;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #593221;
  background-color: transparent;
  text-decoration: none;
}